<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.byzoro.yjzhdatastorage.dao.BsInitiativeNodeMapper" >
  <resultMap id="BaseResultMap" type="com.byzoro.yjzhdatastorage.pojo.BsInitiativeNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="node_id" property="nodeId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="CHAR" />
    <result column="subsys_id" property="subsysId" jdbcType="CHAR" />
    <result column="intf_id" property="intfId" jdbcType="CHAR" />
    <result column="mon_list" property="monList" jdbcType="CHAR" />
    <result column="test_stat" property="testStat" jdbcType="CHAR" />
    <result column="domain_check_num" property="domainCheckNum" jdbcType="BIGINT" />
    <result column="stat_period" property="statPeriod" jdbcType="VARCHAR" />
    <result column="time_stamp" property="timeStamp" jdbcType="TIMESTAMP" />
    <result column="data_tag" property="dataTag" jdbcType="CHAR" />
    <result column="ns_list" property="nsList" jdbcType="CHAR" />
  </resultMap>

  <insert id="insertData">
    insert into bs_initiative_node (node_id, org_id,
      subsys_id, intf_id, mon_list, test_stat,
      domain_check_num, stat_period, time_stamp,
      data_tag,ns_list)
    values (#{jsonResolve.nodeId,jdbcType=VARCHAR}, #{jsonData.orgId,jdbcType=CHAR},
      #{jsonData.subsysId,jdbcType=CHAR}, #{jsonData.intfId,jdbcType=CHAR}, #{jsonResolve.monListString,jdbcType=CHAR}, #{jsonResolve.testStatString,jdbcType=CHAR},
      #{jsonResolve.domainCheckNum,jdbcType=BIGINT}, #{jsonResolve.statPeriod,jdbcType=VARCHAR}, #{jsonResolve.date,jdbcType=TIMESTAMP},
      #{jsonData.dataTag,jdbcType=CHAR},#{jsonResolve.nsListString,jdbcType=CHAR})
  </insert>

</mapper>